<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", { title: `Hack Portal - Hiring`}) %>
<body>


    <div class="container-fluid py-5">
        <div class="container">
            <h1 style="margin-top: 50px;" class="text-center mb4"> Hack Portal Job Vacancy</h1></br>

            <form action="/hiring" method="GET" class="text-center mb4">
                <input style="width:400px; padding-left: 10px;" type="text" name="title" placeholder="Type your search keyword here..."><button style="margin-left: 20px;" class="btn btn-primary" type="submit">Search</button>
                </form>

            <div class="table-responsive">
                <table class="mx-auto w-auto" style="margin-left: 800px; border: none; border-collapse: collapse; margin: 25px 0; font-size: 0.9em; min-width: 400px; font-family: 'Quicksand', sans-serif; text-align: center;">
                    <tr style="border-bottom: 1px solid #dddddd;">
                        <th style="color: grey; text-align: center; padding-left: 10px; font-style: bold;">Title</th>
                        <th style="color: grey; text-align: center; padding-left: 10px; font-style: bold">Department</th>
                        <th style="color: grey; text-align: center; padding-left: 10px; font-style: bold">Vacancy</th>
                        <th style="color: grey; text-align: center; padding-left: 10px; font-style: bold">Posted on</th>
                        <th style="color: grey; text-align: center; padding-left: 10px; font-style: bold">Action</th>
                    </tr>
                    <% jobs.forEach(el => { %>
                        <tr style="border-bottom: 1px solid #dddddd;">
                            <td style="padding-top: 2px; padding-bottom: 2px"><%= el.title %></td>
                            <td style="padding-top: 2px; padding-bottom: 2px"><%= el.Company.name %></td>
                            <td style="padding-top: 2px; padding-bottom: 2px"><%= el.vacancy %></td>
                            <td style="padding-top: 2px; padding-bottom: 2px"><%= el.createdAt %></td>
                            <td style="padding-top: 2px; padding-bottom: 2px">
                                <button style="margin: 5px;" class="btn btn-primary" type="button" onclick="location.href='/jobList/<%= el.id %>/detail'">Detail</button>
                            </td>
                        </tr>
                    <% }) %>
                </table>

        
            </div>
        </div>
    </div>
    
    
</body>
</html>