<!doctype html>
<html lang="en">
  <%- include("./partials/head.ejs", { title: `InstaJobs - Home`}) %>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <div style="text-align: center;">

      <h1 style="margin-top: 50px;">InstaJobs</h1></br>
        
      <% if(!result.Company) {%> <button type="button" class="btn btn-dark" onclick="location.href='/addCompany'">Add company</button><% } %> 
      <button type="button" class="btn btn-dark" onclick="location.href='/manageJob/<%= result.Company.id %>'">Manage Job</button>
      <button type="button" class="btn btn-dark" onclick="location.href='/applicantList/<%= result.Company.id %>'">Applicant Lists</button>
    </div>
    <%- include("./partials/script.ejs") %>
  </body>
  
</html>